modules = ["python-3.11"]
[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Lingualeo Telegram Bot"

[[workflows.workflow]]
name = "Lingualeo Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Lingualeo Bot/lingualeo_pyth\" && python3 tg_bot.py"

[workflows.workflow.metadata]
outputType = "console"
