modules = ["python-3.11", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "postgresql", "unzip"]

[agent]
expertMode = true

[workflows]

[deployment]
deploymentTarget = "vm"
run = ["python3", "Lingualeo Bot/lingualeo_pyth/tg_bot.py"]
